@media (min-width: 37.5rem) {
  :root {
    --section-inline-value: 6%;
  }
}
@media (min-width: 64rem) {
  :root {
    --section-inline-value: 12%;
  }
  .footer-ctn {
    &__socials {
      max-width: fit-content;
    }
  }
  .hero {
    &__cover {
      align-items: start;
    }
    &__name,
    &__title {
      text-align: start;
    }
    &__cta {
      padding-right: 2rem;
    }
    &__socials {
      gap: 2rem;
      margin-top: 4rem;
    }
  }
  .wget {
    rotate: z -30deg;
    left: 90%;
  }
}
@media (min-width: 43.75rem) {
  .font-h1 {
    font-size: 3rem;
  }
  .top-navbar {
    padding-block: 1.5rem;
  }
}
@media (min-width: 62.5rem) {
  .font-h1 {
    font-size: 3.25rem;
  }
  .font-p {
    &--big {
      font-size: 1.125rem;
    }
  }
  .top-navbar {
    padding-block: 1.5rem;
  }
  .hamburger {
    display: none;
  }
  .menu {
    &__box {
      position: static;
      visibility: visible;
      width: fit-content;
      max-height: 100%;
      padding-block: 0;
      padding-inline: 0;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      transition: none;
      transform: translate(0, 0);
      box-shadow: none;
      border: none;
      border-radius: 0;
      overflow: visible;
      background: none;
      backdrop-filter: none;
    }
    & .navlink {
      font-size: 1.25rem;
    }
  }
}
