:root {
  --c-primary: #0a0f1f;
  --c-primary-light: #16203a;
  --c-border: #2d374810;
  //-------------------------------------
  --c-dark-blue: #15162a;
  --c-green-cyan: #52c4c4;
  --c-ghost-white: #eaeaea;
  --c-n-white: #fff;
  --c-n-black: #000;
}
