$space-em: 1rem; //16px
$space-em_25: calc(0.25 * $space-em); //4px
$space-em_5: calc(0.5 * $space-em); //8px
$space-1_5em: calc(1.5 * $space-em); //24px
$space-2em: calc(2 * $space-em); //32px
$space-4em: calc(4 * $space-em); //64px
$space-8em: calc(8 * $space-em); //128px
